#include "Resource.h"

ICON                    ICON    DISCARDABLE     "C:\Users\tt.jacob.lyons\Desktop\SpaceX\fun.ico"
CURSOR                  CURSOR  DISCARDABLE     "C:\Users\tt.jacob.lyons\Desktop\SpaceX\arrow.cur"
TEXTSCURSOR             BITMAP  DISCARDABLE     "C:\Users\tt.jacob.lyons\Desktop\SpaceX\TextsCursor.bmp"

IDD_HOSTSESSION DIALOG DISCARDABLE  0, 0, 186, 81
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Create Session"
FONT 8, "MS Sans Serif"
BEGIN
	EDITTEXT        IDC_SESSION,45,11,120,12,ES_AUTOHSCROLL
	EDITTEXT        IDC_PLAYER,45,25,120,12,ES_AUTOHSCROLL
	EDITTEXT        IDC_PORT,137,39,28,12,ES_AUTOHSCROLL | ES_NUMBER
	DEFPUSHBUTTON   "OK",IDOK,26,60,40,14
	PUSHBUTTON      "Cancel",IDCANCEL,73,60,40,14
	LTEXT           "Session:",IDC_STATIC,14,13,28,8
	LTEXT           "Player:",IDC_STATIC,14,27,22,8
	LTEXT           "Port:",IDC_STATIC,117,40,16,8
	PUSHBUTTON      "Exit Game",IDC_EXIT,120,60,40,14
END
IDD_JOINSESSION DIALOG DISCARDABLE  0, 0, 186, 79
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Join Session"
FONT 8, "MS Sans Serif"
BEGIN
	EDITTEXT        IDC_SESSION,45,11,120,12,ES_AUTOHSCROLL
	EDITTEXT        IDC_PLAYER,45,25,120,12,ES_AUTOHSCROLL
	EDITTEXT        IDC_PORT,137,39,28,12,ES_AUTOHSCROLL | ES_NUMBER
	DEFPUSHBUTTON   "OK",IDOK,24,58,40,14
	PUSHBUTTON      "Cancel",IDCANCEL,73,58,40,14
	LTEXT           "Host:",IDC_STATIC,14,13,18,8
	LTEXT           "Player:",IDC_STATIC,14,27,22,8
	LTEXT           "Port:",IDC_STATIC,117,40,16,8
	PUSHBUTTON      "Exit Game",IDC_EXIT,121,58,40,14
END
IDD_NETWORKOPTION DIALOG DISCARDABLE  0, 0, 185, 71
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Network Option"
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON   "Create New Session",MB_OPTION1,7,50,78,14
	PUSHBUTTON      "Join Session",MB_OPTION2,100,50,78,14
	LTEXT           "This level requires a network session.",IDC_STATIC,34,
					13,118,8
	LTEXT           "What do you want to do?",IDC_STATIC,34,30,81,8
END
IDD_SELECTPLAYER DIALOG DISCARDABLE  0, 0, 132, 132
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select a Player"
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON   "OK",IDOK,20,111,40,14
	PUSHBUTTON      "Cancel",IDCANCEL,71,111,40,14
	LISTBOX         IDC_LIST,7,22,118,82,LBS_SORT | LBS_NOINTEGRALHEIGHT | 
					WS_VSCROLL | WS_TABSTOP
	LTEXT           "Select a player from the list below:",IDC_STATIC,9,10,
					108,8
END
IDD_WAIT DIALOG DISCARDABLE  0, 0, 145, 49
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE
FONT 8, "MS Sans Serif"
BEGIN
	PUSHBUTTON      "Resign",IDCANCEL,47,28,50,14
	LTEXT           "Waiting for other players to join ...",IDC_STATIC,20,10,
					106,8
END
